

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Portfolio Dev</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <div class="container">
    <header>
      <div class="header-logo-container">
        Portfolio Dev
      </div>
      <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main>

      
      <section>
        <h1>Portfolio List</h1>
        {% for portfolio in portfolios %}
          <div class="card">
            <div class="card-content">
              <h2 class="card-title">{{ portfolio.name }} - {{ portfolio.role }}</h2>
              <p><a href="{% url 'view_portfolio' portfolio.id %}">View Portfolio</a></p>
            </div>
          </div>
        {% endfor %}
      </section>
      </div>
     </main>
  </body>
</html>