{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/portfolios/portfolios.css' %}">
</head>
<style>
    :root {
        --primary-color: #{{ portfolio.accent_color }};
    }
    .user {
        background-image: url("{% if portfolio.home_picture %}{{ portfolio.home_picture.url }}{% else %}{% static 'home_pictures/home_picture.jpeg' %}{% endif %}");
    }
</style>
<body class="accent">
<div class="container">
    <header>
        <div class="logo">
            DevPortfolio
        </div>
        <div class="links-dev">
            <a href="{% url 'edit_portfolio' portfolio.id %}">Edit</a>
            <a href="{% url 'login_user' %}">Create</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#expertise">Expertise</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="user">
        <div class="user-info">
            <h1>I am <span>{{ portfolio.name }}</span><span>{{ portfolio.role }}</span></h1>
            <p>{{ portfolio.personal_quotes }}</p>
            <p>LinkedIn: <a href="{{ portfolio.linkedin_link }}">{{ portfolio.linkedin_link }}</a></p>
            <p>Portfolio Link: <a href="{{ portfolio_link }}">{{ portfolio_link }}</a></p>
        </div>
    </section>

    <section id="about" class="about">
        <img src="{% if portfolio.me_picture %}{{ portfolio.me_picture.url }}{% else %}{% static 'me_pictures/me.jpeg' %}{% endif %}" alt="{{ portfolio.name }}">
        <div>
            <h2>About Me</h2>
            <p>I am {{ portfolio.name }} a {{ portfolio.role }} {{ portfolio.personal_quotes }}</p>
            {% if portfolio.cv_pdf %}
                <a href="{{ portfolio.cv_pdf.url }}" download><button>Download CV</button></a>
            {% else %}
                <button disabled>No CV Available</button>
            {% endif %}
        </div>
    </section>

    <section id="expertise" class="expertise">
        <h2>Expertises</h2>
        <div class="cards">
            {% for skill in portfolio.skills_set.all %}
            <div class="card">
                <h3>{{ skill.skill_name }}</h3>
                <p>{{ skill.skill_description }}</p>
                <form method="post" action="{% url 'delete_skill' skill.id %}" style="display:inline;">
                    {% csrf_token %}
                </form>
            </div>
            {% endfor %}
        </div>
    </section>

    {% if portfolio %}
    <section class="portfolio-link">
        <h2>Portfolio Link</h2>
        <p><a href="{{ portfolio_link }}">http://127.0.0.1:8000/me/{{ portfolio.user_id.username|slugify }}</a></p>
    </section>
    {% endif %}

    <section id="contact" class="contact">
        <h2>Let's Chat!</h2>
        <form method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button type="submit">Send Message</button>
        </form>
    </section>
    <footer>
        <p>&copy; 2024 DevPortfolio. All rights reserved.</p>
    </footer>
</div>
</body>
</html>